.meuNome, .descricao {
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-color: antiquewhite;
  }

  .resido {
    background-color: azure;
    width: 100px;
  }

  li {
    font-size: 20px;
    width: 200px;
    color: red;   
  }

#credenciais img {
    position: absolute;
    top: 100px;
    border-radius: 50%;
    width: 200px;
    height: 170px;
    padding: 2px;
    background-color: aqua;
}

#credenciais h1 {
    text-align: center;
}

#credenciais p {
    position: absolute;
    left: 260px;
}

.resto {
    position: relative;
    top: 200px;
}